#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url("/public/images/Spinner-1s-200px.gif") no-repeat  50% 50% rgba(255,255,255, 0.9);
}
