<template>
  <tr>
    <td>{{ people.name }}</td>
    <td>{{ specie }}</td>
    <td>{{ homeworld }}</td>
    <td>{{ people.gender }}</td>
    <td>{{ people.birth_year }}</td>
    <td>
    </td>
  </tr>
</template>

<script>
  import {getSpecie, getHomeWorld} from '../services/star-wars.service';

  export default {
    props: ['people'],
    data() {
      return {
        specie: null,
        homeworld: null
      }
    },
    methods: {
      getIdToUrl(url) {
        let newArry = url.split("/");
        return newArry[newArry.length - 2];
      }
    },
    mounted() {
      getSpecie(this.getIdToUrl(this.people.species[0]))
        .then(res => {
          this.specie = res.name;
        }).catch(error => {
        console.log(error);
      });

      //homeworld
      getHomeWorld(this.getIdToUrl(this.people.homeworld))
        .then(res => {
          this.homeworld = res.name;
        }).catch(error => {
        console.log(error);
      });

    }

  }
</script>

