<template>
  <div>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Especie</th>
        <th>Origen</th>
        <th>Genero</th>
        <th>F. Nacimiento</th>
        <th>Detalle</th>
      </tr>
      <app-item-people v-for="(people, index) in peoples.results" :people="people"
                       :key="index" ></app-item-people>
    </table>
  </div>
</template>

<script>
  import appItemPeople from './ItemPeople';

  export default {
    props: ['peoples'],
    components: {
      'app-item-people': appItemPeople
    }
  }
</script>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
