<template>
  <div>
    <div v-show="isLoading" id="loading"></div>
    <h1>Listado:</h1>
    <hr>
    <form @submit.prevent="submitForm" class="form">
      <div class="form-group">
        <label>Tipo:</label>
        <select name="type" id="" class="form-control" v-model="selected_type">
          <option selected value="">Seleccione...</option>
          <option value="people">Personajes</option>
          <option value="films">Películas</option>
        </select>
      </div>
      <div v-show="isPeople">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Escriba el nombre y/o especie:</label>
            <input v-model="search_name_specie" name="s-people" type="text" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label>Planeta Origen:</label>
            <app-select v-model="selected_planet" :items="data.planets" name="select_planet"></app-select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Genero:</label>
            <select name="type"  class="form-control" v-model="selected_genre">
              <option selected value="">Seleccione...</option>
              <option value="people">Femenino</option>
              <option value="films">Masculino</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>Fecha Nacimiento:</label>
            <input type="date" v-model="search_date" class="form-control">
          </div>
        </div>
      </div>
      <button class="btn btn-primary" :class="disabledClass" type="submit"><i class="fa fa-search"
                                                                              aria-hidden="true"></i> Buscar
      </button>
    </form>
    <div v-show="isVisibleList" class="mt-4">
      <app-list-people :peoples="data.peoples"></app-list-people>
    </div>
  </div>
</template>

<script>
  import {listsPeople, listsPlanets, listsPeopleFiltered} from '../services/star-wars.service';
  import appListPeople from './ListPeople';
  import appSelect from './Select';


  export default {
    name: "List",
    data() {
      return {
        selected_type: '',
        selected_planet: '',
        selected_genre: '',
        search_name_specie: null,
        search_date: null,
        isLoading: false,
        data: {
          peoples: [],
          planets: [],
          peoples_loaded: []
        },
        isAddButtonDisabled: 1,
        isVisibleList: false
      }
    },
    computed: {
      isPeople() {
        return this.selected_type === 'people';
      },
      disabledClass() {
        return this.isAddButtonDisabled ? "disabled" : "";
      }
    },
    methods: {
      loadPeoples() {
        this.isLoading = true;
        listsPeople()
          .then(res => {
            this.data.peoples = res;
            this.isLoading = false;
            this.isVisibleList = true;
          }).catch(error => {
        });
      },
      submitForm() {
        if (this.isPeople) {
          this.loadPeoples();
        }
      }
    },
    mounted() {
      this.isLoading = true;
      listsPlanets()
        .then(res => {
          this.data.planets = res.results;
          this.isLoading = false;
        }).catch(error => {
      });

      this.isLoading = true;
      for(let i=1; i < 9; i++) {
        listsPeopleFiltered(i)
                .then(res => {
                  this.data.peoples_loaded.push(res.results);
                  this.isLoading = false;
                  this.isVisibleList = true;
                }).catch(error => {
        });
      }

    },
    components: {
      'app-list-people': appListPeople,
      'app-select': appSelect,
    },
    watch: {
      selected_type: function (value) {
        if (value !== '') {
          this.isAddButtonDisabled = 0;
        } else {
          this.isAddButtonDisabled = 1;
        }
      }
    }
  }
</script>

<style scoped>

</style>
