<template>
    <div>
        <select class="form-control" :id="name" :name="name">
            <option selected value="">{{ primer_item }}</option>
            <option v-for="item in items" :value="getIdToUrl(item.url)">
                {{ item.name }}
            </option>
        </select>
    </div>
</template>
<script>
export default {
    props: {
        items: {type: [Array, Object]}, //tipo: Array de Objetos
        name: {type: String},
        primer_item: {type: String, default: 'Seleccione...'}
        },
  methods:{
    getIdToUrl(url) {
      let newArry = url.split("/");
      return newArry[newArry.length - 2];
    }
  }
}
</script>
